# node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml


# docker
*.log
.dockerignore

# terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
terraform.tfvars
*.tfvars.json

.DS_Store
Thumbs.db
aws/
.terraform
.terraform.lock.hcl